.body{
    margin: 0;
    padding: 0;
}
.doctor-detailes{
    width: 80%;
    height: 900px;
    margin:  auto;
    margin-top: W80px;
}
.img10{
    width: 50%;
    height: 100%;
    float: left;
}
.image{
    width: 100%;
    height: 100%;
}

.parent{
    width: 50%;
    height: 100%;
    float: left;
    margin-top: 130px;
}
.text h1{
    margin-top: 60px;
    font-size: 28px;
}
.text p{
    font-size: 18px;
}
.one img{
    float: left;
}
.one p{
    float: left;
    font-size: 18px;
    margin-top: 35px;
    margin-left: 20px;
}
.one {
    width: 100%;
    height: 50px;
    margin-top: 40px;
}
.two img{
    float: left;
}
.two p{
    float: left;
    font-size: 18px;
    margin-top: 32px;
    margin-left: 20px;
}
.two {
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

.three img{
    float: left;
    width: 13%;
    /* margin-left: 0px; */
}
.three p{
    float: left;
    font-size: 18px;
    margin-top: 32px;
    margin-left: 20px;
}
.three {
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.four img{
    float: left;
}
.four p{
    float: left;
    font-size: 18px;
    margin-top: 35px;
    margin-left: 20px;
}
.four {
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.describe{
    background: #f8f8f8;
    width: 100%;
    height: 300px;
    position: relative;
}
.con1{
    width: 15%;
    height:100%;
    position: absolute;
    left: 10%;
    text-align: center;
}
.con2{
    width: 15%;
    height: 100%;
    position: absolute;
    left: 32%;
    text-align: center;
}
 .con3{
    width: 15%;
    height: 100%;
    position: absolute;
    left: 55%;
    text-align: center;
}
.con4{
    width: 15%;
    height: 100%;
    position: absolute;
    left: 77%;
    text-align: center;
}
.con1 img{
    margin-top: 50px;
}
.con2 img{
    margin-top: 50px;
}
.con3 img{
    margin-top: 50px;
}
.con4 img{
    margin-top: 50px;
}

.con1 h1{
    font-size: 24;
    font-weight: bolder;
    color: cornflowerblue;
}
.con2 h1{
    font-size: 24;
    font-weight: bolder;
    color: cornflowerblue;
}
.con3 h1{
    font-size: 24;
    font-weight: bolder;
    color: cornflowerblue;
}
.con4 h1{
    font-size: 24;
    font-weight: bolder;
    color: cornflowerblue;
}
.info{
    margin-top: 40px;
    width: 100%;
    height: 700px;
    /* overflow: auto; */
}
.header{
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 30px;
}
.header h1{
    font-size: 28px;
    font-weight: bolder;
}
.header p{
    font-size: 18px;
}
.info{
    position: relative;
}
.content-1{
    width: 31%;
    height: 84%;
    position: absolute;
    left: 10%;
}
.content-2{
    width: 31%;
    height: 84%;
    position: absolute;
    left: 36%;
}
.content-3{
    width: 31%;
    height: 84%;
    position: absolute;
    left: 65%;
}
.context1{
    width: 100%;
    height: 30%;
    margin-bottom: 29px;
}
.img{
    height: 50%;
    width: 22%;
    float: left;
    margin-right:9px;
}
.img img{
    width:100%;
    height: 100%;
}
.texte{
    width: 75%;
    height: 100%;
    float: left;
}

