.body{
    margin: 0;
    padding: 0;
}
.doctor-detailes{
    width: 80%;
    height:900px;
    margin:  auto;
    margin-top:80px;
}
.img{
    width: 50%;
    height: 100%;
    float: left;
}
.image{
    width: 100%;
    height: 100%;
}

.parent{
    width: 50%;
    height: 100%;
    float: left;
    margin-top: 130px;
}
.text h1{
    margin-top: 60px;
    font-size: 28px;
}
.text p{
    font-size: 18px;
}